html {
    width: 100%;
    min-width: 0;
}

body {
	overflow-x: hidden;
	background-color: #ffffff;
	font-size: 14px;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	color: #707070;
	line-height: unset;
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: unset;

	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-variant: normal;
}

.btn:focus, .btn:active:focus, .btn.active:focus, button:focus, a:focus, *:focus{
	outline:none!important;
	box-shadow:none!important;
}
a {
	color: #2D5772;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #2D5772;
	text-decoration: none;
}

.oculto { display: none; }
.conteudo-pagina img { max-width: 100%; }

/* font size = fs */
.fs-11{	font-size: 11px; }
.fs-12{ font-size: 12px; }
.fs-13{	font-size: 13px; }
.fs-14{	font-size: 14px; }
.fs-18{ font-size: 18px; }

/* TOPO */
.topo{
	background-color: #000000;
	min-height: 50px;
	padding: 0 1em;
	position: relative;
	z-index: 20;
	height: 70px;
	transition: height 0.4s;
}
.topo .logo{
	padding: 10px 0;
	display: inline-block;
}
.topo .sumario_ico{
	cursor: pointer;
	font-size: 18px;
	color: #ffffff;
}

.topo .pluginFonte {
	display: none;
	padding-top: 12px;
}
.topo .pluginFonte a{
	padding: 0 0 18px 0;
	margin-right: 12px;
}

.menu img{
	transition-duration: 0.5s;
	transition-property: transform;
}
.menu.active img{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}


/* Navegacao */
.menu-topo {
	position: fixed;
    width: 100%;
    z-index: 10;
}

.navegator a{
	color: #ffffff;
	display: inline-flex;
    align-items: center;
}

.navegator {
	position: fixed;
	color: #ffffff;
	font-size: 14px;
	left: 50%!important;
	transform: translate(-50%, 0%)!important;
	z-index: 10;
	bottom: 12px;
}

.audiolivro{
	margin-top: 10px;
}
.audiolivro #audioPlayer{
	width: 300px; height: 30px;
}

/* Pagina interna, muda o topo */
.topo.top{
	height: 50px;
}
.topo.top .navegator {
	top: 15px;
	bottom: initial;
}
.topo.top .logo{
	display: none;
}
.topo.top .pluginFonte{
	display: inline-block;

	user-select: none; /* Impede a seleção do conteúdo */
    -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Para navegadores Mozilla (Firefox) */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}
.topo.top .catMenu{
	top: 50px;
}

.navegator input{
	text-align:center;
	width: 80px;
	border-radius: 0;
	height: 24px;
	background-clip: initial;
	min-height: initial;
}

.navegator select {
	min-width: 94px;
	text-align:center;
	border-radius: 0;
	height: 24px;
	background-clip: initial;
	min-height: initial;
	/*padding: 1px 0 1px 7px;*/
	padding: 1px 15px 1px 0px;
}

.pg-cab {
	color: #1D2345;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
}

.pg-rodape {
	color: #1D2345;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
}


/* Conteúdo */
.frame-livro {
	width: 100%;
	height: 100%;
	/*overflow-y:auto;
	position: relative;*/
}

.max-w-1004 {
	max-width: 1400px;
}

.conteudo {
	/*height: 100%;*/
}
.conteudo.top {
	/*height: 100%;*/
}

/* Rodapé */
.rodape {
	background-color: #000000;
	height: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;

	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}

.rodape.inactive{
	height: 0;
}

.back-top { position: fixed; height: 57px; width: 57px; border-radius: 50%; cursor: pointer; background: url(../images/botao_up.png) no-repeat center center; bottom: 30px; right: 50px; z-index: 999; display: block; }

/* Pagina */
.menu-interno {
	margin: 0;
	padding: 0;
	height: 100%;
}
.menu-interno li {
	list-style: none;
	float: left;
	margin:0;
	padding: 0;
	height: 100%;
	width: 45px;
	position: relative;
}

.menu-interno a{
	color: #1D2345;
	font-weight: 600;
	position: fixed;
	top: 50%;
	text-align: center;
	width: 100%;
	padding: 12px 0 ;
	white-space: nowrap;
	-webkit-transform: rotate(270deg) translate(-50%, 0px);
	-webkit-transform-origin: right top;
	-moz-transform: rotate(270deg) translate(-50%, 0px);
	-moz-transform-origin: right top;
	-ms-transform: rotate(270deg) translate(-50%, 0px);
	-ms-transform-origin: right top;
	-o-transform: rotate(270deg) translate(-50%, 0px);
	-o-transform-origin: right top;
	transform: rotate(270deg) translate(-50%, 0px);
	transform-origin: left top;
}

.menu-interno.horizontal{

}
.menu-interno.horizontal li{
	float: initial;
	width: initial;
	height: auto;
}
.menu-interno.horizontal a{
	-webkit-transform: none;
	-webkit-transform-origin: none;
	-moz-transform: none;
	-moz-transform-origin: none;
	-ms-transform: none;
	-ms-transform-origin: none;
	-o-transform: none;
	-o-transform-origin: none;
	transform: none;
	transform-origin: none;
	position: initial;
	display: block;
	white-space: unset;
	padding: 12px 10px;
}
.menu_rotacionar{
	position: fixed;
	padding: 10px;
	bottom: 55px;
	z-index: 5;
	cursor: pointer;
}

.conteudo-pagina{
	box-sizing: content-box!important;
	border-radius: 1.5rem;
	padding: 1.5rem 0rem;
	width: inherit;
	margin: 0 auto;
	transform-origin: center 0;
	margin-top: 35px;
}
.conteudo-pagina.rmTopo{
	padding-top: 0;
	margin-top: 10px;
}
.conteudo-intro{
	font-size: 16px;
	color: #333333;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-variant: normal;
	line-height: 1!important;
}

.pg-livro .menu-interno a { position: fixed; }
.pg-livro .menu-interno li{ position: fixed; }
.pg-livro {
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
}


/* SUMARIO */
.catMenu {
	font-size: 12px;
	padding: 0;
	-webkit-transition: width 0.8s;
	transition: width 0.8s, top 0.4s;
	overflow-x: hidden;
	overflow-y: scroll;
	display: block;
	position: fixed;
	height: calc(100% - 70px);
	right: 0;
	z-index: 20;
	top: 70px;
	min-height: 200px;
	background: #e8e8ef;
	color: #1D2345;
	border: none;
	-webkit-box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 20%);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 30%);
}
.catMenu ul {
	width: 260px;
}
.catMenu li{
	width: 100%;
}
.catMenu li a {
	display: block;
}
.catMenu.inactive {
	width: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.catMenu.active {
	width: 300px;
}

.catMenu li.nivel-1 a{font-weight: bold; padding: 15px 0px 0px 15px;}
.catMenu li.nivel-2 a{padding: 5px 0px 0px 30px;}
.catMenu li.nivel-3 a{padding: 3px 0px 0px 45px;  font-style: italic;}
.catMenu li a:hover {background: #e2e2e6;}

.catMenu li.nivel-2 a::before { content: "•"; padding-right: 3px;}
.catMenu li.nivel-3 a::before { content: "-"; padding-right: 3px;}


.list-group-item.active {
	color: #fff;
	background-color: #13556A;
	border-color: #13556A;
}


/* Livro Offiline  */
.sumario ol.nav{flex-direction: column; margin-top: 30px;}
.sumario ol li {border-bottom: 1px solid #dee2e6; padding: 5px 0px 5px 0px;  font-size: 13px;}
.sumario ol li a {display: block;}
.sumario ol li a:hover {font-weight: 600;}

/* Plugins */
/* Correção plugin zoom de image */
.medium-zoom-overlay, .medium-zoom-image--opened {
	z-index: 50;
}

@media (max-width: 900px) {
	html {
		min-width: inherit;
	}

	body {
		font-size: 12px;
	}
}

@media (max-width: 768px) {

    /* remove larguras forçadas */
    html, body {
        min-width: 0 !important;
        overflow-x: hidden;
    }

    /* grid */
    .sumario {
        display: none; /* opcional */
    }

    /* remove alinhamentos quebrados */
    [style*="margin-left"] {
        margin-left: 0 !important;
    }

    /* imagens-página */
    [role="img"] {
        max-width: 100% !important;
        min-height: auto !important;
        background-size: contain;
    }

    /* navegação */
    .navegator {
        left: 0 !important;
        transform: none !important;
        width: 100%;
        text-align: center;
    }
}
